<form method="post" action="/user_register" >
    <table>
        <tr>
            <th>Registration form</th>
        </tr>

        <tr>
            <td>Name</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td>Contact no</td>
            <td><input type="text" name="contact_no"></td>
            
        </tr>
        <tr>
            <td>City</td>
            <td><select name="city">
                <option disabled>---Select City---</option>
                <option selected>Surat</option>
                <option>Vadodara</option>
                <option>Baroda</option>
                <option>Rajkot</option>
            </select></td>
        </tr>
        <tr>
            <td><input type="submit" name="register"></td>
        </tr>
    </table>
</form>

<table border="all">
    <tr>
        <th colspan="6">
            Registered Users
        </th>
    </tr>
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>EMAIL</td>
        <td>PASSWORD</td>
        <td>CITY</td>
        <td>CONTACT NO</td>
    </tr>


    <%result.forEach(function(user){%>

        <tr>
          <td><%= user.id%></td>
          <td><%= user.name%></td>
          <td><%= user.email%></td>
          <td><%= user.password%></td>
          <td><%= user.city%></td>
          <td><%= user.contact_no%></td>
        </tr>
    <% }) %>
    
</table>